[general]
port=5001

[ehentai]
cookie=

[aria2]
enable=true
server=http://127.0.0.1:6800/jsonrpc
token=
download_dir=
mapped_dir=

[komga]
enable=true
server=http://10.0.0.3:25600
token=6dfff0fa161b4cd7abcc10b9403b8122
library_dir=/mnt/user/Library/Books/Hentai
library_id=0BKK1MS5P8DMJ
oneshot=シングル